:root {
  --main: #eb9d38;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb (172, 155, 155);
}
::selection {
  background-color: var (--main);
  color: rgb (160, 135, 135);
}
/* Small */
(min-width: 50 px) {
  .container {
    width: 50 px;
  }
}
/* Medium */
(min-width: 50 px) {
  .container {
    width: 50 px;
  }
}
/* Large */
(min-width: 1200 px) {
  .container {
    width: 1170 px;
  }
}
.super-container {
  background: white;
}
::-webkit-scrollbar {
  width: 7 px;
}
::-webkit-scrollbar-track {
  background: #1b1616;
}
::-webkit-scrollbar-thumb {
  background: var (--main);
  border-radius: 10 px;
} 
/* Start Header */
.header {
  background-color: white;
  box-shadow: 0 px 10 px 27 px 3 px rgb (221 221 221 / 30 %);
  z-index: 111111111;
  width: 100 %;
  position: fixed;
  transition: .3 s;
}
/* Start Shopping Cart */
.shopping-cart {
  height: 350 px;
  position: fixed;
  background-color: white;
  width: 385 px;
  right: 200 px;
  top: 107 px;
  opacity: 0;
  visibility: hidden;
  z-index: 999999999999999999999999999999999999;
  box-shadow: rgba (0, 0, 0, 0.19) 0 px 10 px 20 px, rgba (0, 0, 0, 0.23) 0 px 6 px 6 px;
  overflow-y: scroll;
  max-height: 350 px;
}
(max-width: 991 px) {
  .shopping-cart {
    width: 100 %;
    right: 0;
    top: 80 px;
  }
}
.shopping-cart .content {
  position: relative;
}
.shopping-cart .content .cart-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping-cart .content .cart-title h3 {
  font-size: 25 px;
}
.shopping-cart .content .cart-title .xmark {
  position: absolute;
  top: 10 px;
  right: 15 px;
  cursor: pointer;
  transition: .8 s;
  font-size: 17 px;
}
.shopping-cart .content .cart-title .xmark:hover {
  color: var (--danger);
}
.shopping-cart .content .cart-boxes {
  display: flex;
  flex-direction: column;
  gap: 5 px;
}
.shopping-cart .content .cart-boxes .cart-box {
  display: flex;
  align-items: center;
  margin: 10 px;
  gap: 10 px;
  color: black;
  padding: 10 px;
  border-radius: 10 px;
  box-shadow: rgba ( z0, 0, 0, 0.1) 0 px 4 px 12 px;
}
.shopping-cart .content .cart-boxes .cart-box img {
  width: 60 px;
  height: 60 px;
  border-radius: 10 px;
}
.shopping-cart .content .cart-boxes .cart-box .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5 px;
  margin-right: 40 px;
}
.shopping-cart .content .cart-boxes .cart-box .text .cart-name {
  max-width: 90 px;
  text-align: center;
  font-size: 12 px;
  line-height: 1;
  font-weight: 500;
}
.shopping-cart .content .cart-boxes .cart-box .text .cart-price {
  font-size: 10 px;
}
.shopping-cart .content .cart-boxes .cart-box .row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10 px;
  margin: 0 auto;
}
.shopping-cart .content .cart-boxes .cart-box .row .quantity {
  width: 37 px;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 30 px;
  padding: 3 px 0;
}
.shopping-cart .content .cart-boxes .cart-box .row .trash-icon {
  cursor: pointer;
  transition: .3 s
}
.shopping-cart .content .cart-boxes .cart-box .row .trash-icon:hover {
  color: var (--danger);
}
.shopping-cart .content .check-out {
  margin-left: 15 px;
  margin-top: 15 px;
}
.shopping-cart .content .check-out .total {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6 px;
}
.shopping-cart .content .check-out .total span {
  font-size: 25 px;
}
.shopping-cart .content .check-out .total .total-cart-price {
  font-size: 15 px;
}
.shopping-cart .content .check-out .btn {
  display: flex;
  justify-content: center;
  margin: 35 px 0;
}
.shopping-cart .content .check-out button {
  font-size: 14 px;
  font-weight: 550;
  color: white;
  background-color: var (--main);
  border-radius: 30 px;
  padding: 17 px 40 px;
  border: none;
  cursor: pointer;
  transition: .3 s;
  border: 1 px solid var (--main);
}
.shopping-cart .content .check-out button:hover {
  background-color: transparent;
  color: black;
}
/* End Shopping Cart */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25 px 0;
  max-width: 100 %;
}
  (max-width: 991 px) {
  .header .container {
    padding: 25 px 15 px;
  }
}
.header .container ul {
  display: flex;
  gap: 50 px;
}
  (max-width: 991 px) {
  .header .container ul {
    display: none;
  }
}
.header .container ul li a {
  color: var (--dark);
  transition: .3 s;
  font-weight: 450;
}
.header .container ul li a:hover {
  color: var (--main);
}
/* Start MOB */
.header .container .mobile {
  display: none;
}
 (max-width: 991 px) {
  .header .container .mobile {
    display: block;
  }
}
.header .container .mobile .mob-icons {
  font-size: 30 px;
  cursor: pointer;
  transition: .3 s;
  position: absolute;
  top: 50 %;
  transform: translateY (-50 %);
  left: 90 %;
}
.header .container .mobile .mob-icons .mob-icons:hover {
  color: var (--main);
}
.header .container .mobile .mob-icons .xmark {
  display: none;
}
.header .container .mobile .mob-list ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  left: 0 px;
  top: 60 px;
  width: 100 %;
  box-shadow: rgb (0 0 0 / 15 %) 0 px 20 px 35 px -31 px;
  gap: 30 px;
  justify-content: center;
  padding: 40 px;
  transition: .3 s;
}
  (max-width: 991 px) {
  .header .container .mobile .mob-list ul {
    left: -200 %;
    transition: .3 s;
  }
}
/* End MOB */
.header .container .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22 px;
}
  (max-width: 991 px) {
  .header .container .icons {
    display: none;
  }
}
.header .container .icons .search-icon {
  cursor: pointer;
}
.header .container .icons .cart {
  cursor: pointer;
  position: relative;
}
.header .container .icons .cart .cart-icon {
  color: var (--dark);
}
.header .container .icons .cart span {
  position: absolute;
  background-color: var (--main);
  color: white;
  border-radius: 50 %;
  padding: 0 x 6 px;
  font-size: 12 px;
  left: 11 px;
  bottom: 12 px;
}
/* End Header */
/* Start Banner */
.banner {
  background: #F1F6F7;
  position: relative;
  margin-bottom: 10 px;
  height: 900 px;
}
 (max-width: 991 px) {
  .banner {
    height: 494 px;
  }
}
 (max-width: 767 px) {
  .banner {
    height: 381 px;
  }
}
.banner::before {
  content: "";
  background-color: var (--main);
  position: absolute;
  width: 35 %;
  height: 100 %;
}
 (max-width: 767 px) {
  .banner::before {
    width: 25 %;
  }
}
  (max-width: 560 px) {
  .banner::before {
    width: 5 %;
  }
}
.banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50 px;
  margin: 0 auto;
  padding: 107 px 0;
}
 (max-width: 991 px) {
  .banner .container {
    padding: 60 px;
  }
}
.banner .container img {
  width: 462 px;
  height: 698 px;
  z-index: 1;
}
  (max-width: 991 px) {
  .banner .container img {
    width: 287 px;
    height: 434 px;
  }
}
  (max-width: 767 px) {
  .banner .container img {
    width: 212 px;
    height: 321 px;
  }
}
 (max-width: 560 px) {
  .banner .container img {
    display: none;
  }
}
.banner .container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
 (max-width: 767 px) {
  .banner .container .text {
    padding-top: 23 px;
  }
}
.banner .container .text span {
  font-size: 30 px;
  color: #555555;
  margin-bottom: -20 px;
}
  (max-width: 991 px) {
  .banner .container .text span {
    margin-bottom: -15 px;
    font-size: 20 px;
    display: none;
  }
}
  (max-width: 560 px) {
  .banner .container .text span {
    margin-bottom: -5 px;
    font-size: 22 px;
  }
}
.banner .container .text h1 {
  max-width: 500 px;
  font-size: 50 px;
  color: var (--dark);
}
  (max-width: 991 px) {
  .banner .container .text h1 {
    font-size: 25 px;
    max-width: 300 px important;
  }
}
  (max-width: 767 px) {
  .banner .container .text h1 {
    font-size: 20 px;
    max-width: 200 px;
  }
}
  (max-width: 560 px) {
  .banner .container .text h1 {
    font-size: 25 px;
    width: 250 px;
  }
}
.banner .container .text p {
  color: var (--gray);
  font-size: 14 px;
  max-width: 470 px;
  line-height: 2;
  margin-bottom: 40 px;
}
 (max-width: 991 px) {
  .banner .container .text p {
    font-size: 13 px;
    max-width: 500 px  important;
  }
}
 (max-width: 767 px) {
  .banner .container .text p {
    font-size: 13 px;
    width: 240 px  important;
    margin-bottom: 15 px;
    line-height: 1.5;
  }
}
  (max-width: 560 px) {
  .banner .container .text p {
    font-size: 14 px;
    margin-top: -4 px;
  }
}
.banner .container .text button {
  font-size: 14 px;
  font-weight: 550;
  color: white;
  background-color: var (--main);
  border-radius: 30 px;
  padding: 17 px 40 px;
  border: none;
  cursor: pointer;
  transition: .3 s;
  border: 1 px solid var (--main);
}
.banner .container .text button:hover {
  background-color: transparent;
  color: var (--dark);
}
  (max-width: 767 px) {
  .banner .container .text button {
    padding: 13 px 30 px;
  }
}
/* End Banner */
/* Start Product */
.products {
  margin: 100 px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.products .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products .container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20 px;
}
.products .container .title span {
  font-size: 14 px;
  color: var (--gray);
  margin-bottom: -28 px;
}
.products .container .title h3 {
  font-size: 30 px;
  position: relative;
}
.products .container .title h3::before {
  position: absolute;
  content: "";
  background-color: var (--main);
  width: 121 px;
  height: 2 px;
  bottom: 0;
  right: 0;
}
.products .container .product-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30 px;
}
.products .container .product-boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15 px;
}
.products .container .product-boxes .box .image {
  position: relative;
}
.products .container .product-boxes .box .image:hover .image-icons{
  opacity: 1;
  transform: translateY (-8 %);
}
.products .container .product-boxes .box .image .image-icons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8 px;
  bottom: 0 px;
  width: 100 %;
  font-size: 16 px;
  background: rgba (255,255,255,0.5);
  height: 30 %;
  transition: all .48 s ease;
  transform: translateY (10 %);
  opacity: 0;
}
.products .container .product-boxes .box .image .image-icons i {
  background: #8894ff;
  color: white;
  padding: 10 px 10 px;
  cursor: pointer;
  transition: .3 s;
}
.products .container .product-boxes .box .image .image-icons i:hover {
  background: var (--main);
}
.products .container .product-boxes .box .text {
  display: flex;
  flex-direction: column;
  padding: 20 px 0;
}
.products .container .product-boxes .box .text span {
  margin-bottom: -20 px;
}
.products .container .product-boxes .box .text h4 {
  font-size: 20 px;
  letter-spacing: -1.2 px;
  transition: .3 s;
  cursor: pointer;
}
.products .container .product-boxes .box .text h4:hover {
  color: var (--main);
}
.products .container .product-boxes .box .text .product-price {
  margin-top: -15 px;
}
/* End Product */
/* Start SALE */
.sale-container {
  background: url(images/parallax-bg.png) right center no-repeat;
  background-size: cover;
  margin: 100 px 0;
  background-position: 0 px 30 px;
}
.sale-container .text {
  padding: 100 px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 70 %;
}
  (max-width: 1200 px) {
  .sale-container .text {
    width: 100 %;
  }
}
.sale-container .text h3 {
  font-size: 40 px;
  letter-spacing: -2 px;
  font-weight: 500;
}
.sale-container .text span {
  font-size: 20 px;
  margin-top: -30 px;
  font-weight: 500;
}
.sale-container .text p {
  font-size: 14 px;
  color: var (--dark);
}
.sale-container .text button {
  font-size: 14 px;
  font-weight: 550;
  color: white;
  background-color: var (--main);
  border-radius: 30 px;
  padding: 16 px 40 px;
  border: none;
  cursor: pointer;
  transition: .3 s;
  border: 1 px solid var (--main);
  margin-top: 10 px;
}
.sale-container .text button:hover {
  background-color: transparent;
  color: black;
}
/* End SALE */
/* Start Footer */
.footer-container {
  background: #002347;;
  padding-top: 100 px;
  margin-top: 100 px;
}
.footer-container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-container .content .copy-right {
  padding: 100 px 0;
  color: white;
}
.footer-container .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90 px;
}
  (max-width: 991 px) {
  .footer-container .content .row {
    max-width: 700 px;
  }
}
  (max-width: 767 px) {
  .footer-container .content .row {
    flex-direction: column;
  }
}
.footer-container .content .row .col {
  display: flex;
  flex-direction: column;
  gap: 20 px;
}
.footer-container .content .row .col h3 {
  color: white;
}
.footer-container .content .row .col p {
  max-width: 210 px;
}
.footer-container .content .row .col .icons {
  display: flex;
  gap: 35 px;
  padding-top: 30 px;
}
.footer-container .content .row .col .icons a {
  color: #8894ff;
  font-size: 22 px;
  transition: .3 s;
}
.footer-container .content .row .col .icons a:hover {
  color: var (--pink);
}
.footer-container .content .row .col ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-container .content .row .col ul li {
  position: relative;
  transition: .3 s;
}
.footer-container .content .row .col ul li:hover {
  transform: translateX (5 %);
}
.footer-container .content .row .col ul li:hover::before {
  color: var (--pink);
}
.footer-container .content .row .col ul li::before {
  content: "\f178";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #8894ff;
  padding-right: 10 px;
  font-size: 15 px;
  transition: .3 s;
}
.footer-container .content .row .col ul li a{
  color: white;
}
.footer-container .content .row .col .details  {
  display: flex;
  flex-direction: column;
  padding-left: 40 px;
}
.footer-container .content .row .col .details .location {
  color: white;
  position: relative;
  font-size: 15 px;
  max-width: 180 px;
  padding-bottom: 10 px;
}
.footer-container .content .row .col .details .location::before {
  content: "\f3c5";
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 15 px;
  text-align: center;
  color: #8894ff;
  left: -40 px;
}
.footer-container .content .row .col .details .num {
  color: #8894ff;
  position: relative;
  font-size: 15 px;
  padding-bottom: 25 px;
}
.footer-container .content .row .col .details .num::before {
  content: "\f095";
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 15 px;
  text-align: center;
  color: #8894ff;
  left: -40 px;
}
.footer-container .content .row .col .details .email {
  color: #8894ff;
  position: relative;
  font-size: 15 px;
}
.footer-container .content .row .col .details .email::before {
  content: "\f0e0";
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 15 px;
  text-align: center;
  color: #8894ff;
  left: -40 px;
}